@media screen and (max-width: 768px) {
  .navBar  {
    display: none;
  }
  .navBar.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: var(--primary-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    padding: 10px;
    text-align: left;
    z-index: 1000;
  }


  .navBar.show a{
    color: var(--secondary-color);
  } 
  .HamburgerIcon {
    display: block;
  }

  .HamburgerIcon i {
    font-size: 20px;
    color: var(--secondary-color);
  }
  .myThemeIcons {
    margin-left: 40%;
    cursor: pointer;
  }
  .heroTwo img {
    height: 320px;
    padding: 5%;
  }
}
